/_backup
/assets
/bin
/data
/include
/lib
/notebooks
/out
/res
/share
/src-tmp
/tmp
/tmp-rt
/todo
/work
/is-root
/mk-src-backup
/pip-selfcheck.json
/pyvenv.cfg

*.pyc
__pycache__/
/dist/
/*.egg-info

*.pickle.gz
*.pickle

.RData
.Rhistory

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
