<!doctype html>
<html>
<head>
    <!--
    Res
        https://materializecss.com/color.html
        https://materializecss.com/icons.html
    -->

    <meta charset="utf-8">
    <title>PRAM Demo</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize-pram.css')}}" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
        #server-load-avg    { font-weight: bold; }
        #btn-sim-flu-reset  { margin-right: 40px; }
        #sim-flu-out        { _overflow-y: scroll; _max-height: 300px; _padding: 4px 8px 4px 8px; font: 1em courier; _border: 1px solid #eee; background: #fafafa; white-space: pre; }
        #sim-flu-out > div  { margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd; }
        #tbl-db-tbl         { margin: 0px; border: 1px solid #ccc; }
        #tbl-db-tbl th      { _padding: 4px 8px 4px 8px; }
        #tbl-db-tbl td      { _padding: 4px 8px 4px 8px; }
        #tbl-db-tbl th:nth-child(1)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl th:nth-child(2)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl td:nth-child(1)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl td:nth-child(2)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        input[type=checkbox]  { vertical-align: bottom; }
    </style>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/jquery-3.4.0.min.js') }}">\x3C/script>')</script>

    <script type="text/javascript" src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.4/fuse.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>

    <script>
        'use strict';

        const sysGetLoadWait  = 500;  // time between get-system-load requests [ms]
        const simUpdWait      = 100;  // time between simulation-update requests [ms]

        var fuseOpts = {  // Fuse.js fuzzy match options; https://fusejs.io/
            includeScore: true,
            threshold: 0.4,  // 0 = perfect match; 1 = total mismatch
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 2
        };

        var app = {
            dbSchema: null,
            isMonitoringSysLoad: false,
            isRoot: false
        };

        var ui = {
            btnUserRootInnerHTML: 'person_add',
            btnUserUserInnerHTML: 'person',

            // iconSimSim: 'looks_one',
            // iconSimRul: 'looks_two',
            // iconSimPrb: 'looks_3',
            // iconSimEnt: 'looks_4',
            // iconSimRun: 'looks_5',
            // iconSimOut: 'looks_6'

            iconSimSim: 'tune',
            iconSimRul: 'functions',
            iconSimPrb: 'timeline',  // show_chart data_usage format_list_bulleted format_list_numbered linear_scale
            iconSimEnt: 'people',
            iconSimRun: 'play_circle_filled',
            iconSimOut: 'equalizer'
        };


        // -------------------------------------------------------------------------------------------------------------
        // ----[ UTIL ]-------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        let $$ = (tag, parent) => {
            let el = document.createElement(tag);
            if (parent) parent.appendChild(el);
            return el;
        }

        function utilDoFuzzyMatch(lst, qry) {
            /**
             * Return a score between 0 and 1 indicating a match between the two strings passed. While Fuse.js is used to
             * compute the score, the score itself is reversed, i.e., 0 means complete mismatch while 1 means a perfect
             * match.
             */

            let res = (new Fuse(lst, fuseOpts)).search(qry);
            if (res.length == 0) return [];
            return res.map((i) => { return { item: lst[i.item], score: 1 - i.score }});
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SYS ]--------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function sysGetLoad() {
            fetch({{ url_for('sys_get_load')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    $('#sys-load-cpu-size').text(data.size.cpu);
                    $('#sys-load-ram-size').text(data.size.ram);
                    $('#sys-load-hdd-size').text(data.size.hdd);
                    $('#sys-load-cpu-used').text(data.used.cpu);
                    $('#sys-load-ram-used').text(data.used.ram);
                    $('#sys-load-hdd-used').text(data.used.hdd);
                    $('#sys-load-cpu-free').text(data.free.cpu);
                    $('#sys-load-ram-free').text(data.free.ram);
                    $('#sys-load-hdd-free').text(data.free.hdd);

                    $('#sys-load-avg-t1') .text(data.avg.t1);
                    $('#sys-load-avg-t5') .text(data.avg.t5);
                    $('#sys-load-avg-t15').text(data.avg.t15);

                    if (app.isMonitoringSysLoad) {
                        window.setTimeout(sysGetLoad, sysGetLoadWait);
                    }
                }
                else M.toast({ html: data.err });
            });
        }

        function sysPing() {
            let t0 = new Date().getTime()
            fetch({{ url_for('sys_ping')|tojson }}, { method: 'HEAD', cache: 'no-cache' }).
            then(res => $('#btn-sys-ping').html(res.ok ? (new Date().getTime() - t0) + ' ms' : 'Error')).
            catch(err => {
                console.log('Fetch error: ', err.message);
                M.toast({ html: err.message });
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ USER ]-------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function usrGetSess() {
            fetch({{ url_for('usr_get_sess')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    app.state = data.state;

                    uiInitSim();
                    uiInitRules();
                    uiInitProbes();
                    uiInitEntities();
                    uiInitRun();
                    uiInitOutput();
                }
                else M.toast({ html: data.err });
            });
        }

        function usrResetSess() {
            fetch({{ url_for('usr_reset_sess')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    // $('#sim-flu-out').empty();
                    usrIsRoot();
                    M.toast({ html: 'User session has been cleared' });
                    usrGetSess();
                }
                else M.toast({ html: data.err });
            });
        }

        function usrIsRoot() {
            fetch({{ url_for('usr_is_root')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                app.isRoot = data;
                $('#btn-usr-toggle').children(0).text(app.isRoot ? ui.btnUserRootInnerHTML : ui.btnUserUserInnerHTML);
            });
        }

        function usrToggle() {
            let fd = new FormData();
            if (!app.isRoot) {
                fd.append('code', prompt('Code:'));
            }

            fetch({{ url_for('usr_toggle')|tojson }}, { method: 'POST', cache: 'no-cache', body: fd }).
            then(res => res.json()).
            then(data => {
                app.isRoot = data;
                $('#btn-usr-toggle').children(0).text(app.isRoot ? ui.btnUserRootInnerHTML : ui.btnUserUserInnerHTML);
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ DB ]---------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function dbLs() {
            fetch({{ url_for('db_ls')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    $('#dropdown-db').empty();
                    $('#dropdown-db-tbl').empty();
                    $('#tbl-db-tbl-body').empty();
                    $('#row-ent-db-tbl').hide();
                    $('#row-ent-db-ctl').hide();

                    data.ls.forEach(i => {
                        let li = $$('li');
                        let a  = $($$('a', li)).html(i);
                        a.attr('href', '#').on('click', () => dbSet(i));
                        $('#dropdown-db').append(li);
                    });

                    M.Dropdown.init($('#dropdown-db-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
                    $('#row-ent-db-tbl').hide();
                    $('#row-ent-db-ctl').hide();
                    $('#dropdown-db-tbl-trigger').addClass('disabled');
                    $('#dropdown-db-col-trigger').addClass('disabled');
                    $('#dropdown-db-lbl').html('---');
                }
                else M.toast({ html: data.err });
            });
        }

        function dbSet(fname) {
            let fd = new FormData();
            fd.append('fname', fname);

            fetch({{ url_for('db_get_schema')|tojson }}, { method: 'POST', cache: 'no-cache', body: fd }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    $('#dropdown-db-tbl').empty();
                    $('#tbl-db-tbl-body').empty();
                    $('#row-ent-db-tbl').hide();
                    $('#row-ent-db-ctl').hide();
                    $('#dropdown-db-lbl').html(fname);

                    app.dbSchema = data.schema;
                    for (let i = 0; i < app.dbSchema.length; i++) {
                        let tbl = app.dbSchema[i];
                        let li = $$('li');
                        let a  = $($$('a', li)).html(tbl.name + '<span class="tbl badge">' + tbl.cols.length + '</span>');
                        a.attr('href', '#').on('click', () => dbTblSet(i));
                        $('#dropdown-db-tbl').append(li);
                    }

                    M.Dropdown.init($('#dropdown-db-tbl-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
                    $('#dropdown-db-tbl-trigger').removeClass('disabled');
                    $('#dropdown-db-col-trigger').addClass('disabled');
                    $('#dropdown-db-tbl-lbl').html('---');
                }
                else M.toast({ html: data.err });
            });
        }

        function dbTblSet2(name) {
            /**
             * Use the dropdown box for columns.
             */

            $('#dropdown-db-col').empty();
            $('#dropdown-db-tbl-lbl').html(name);

            for (let i = 0; i < app.dbSchema[tblIdx].cols.length; i++) {
                let col = app.dbSchema[tblIdx].cols[i];
                let li = $$('li');
                let a  = $($$('a', li)).html(col_name + '<span class="type badge">' + col.type + '</span>');
                a.attr('href', '#').on('click', () => dbColSet(col_name));
                $('#dropdown-db-col').append(li);
            }
            M.Dropdown.init($('#dropdown-db-col-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
            $('#dropdown-db-col-trigger').removeClass('disabled');
            $('#dropdown-db-col-lbl').html('---');
        }

        function dbTblSet(tblIdx) {
            /**
             * Use the table for columns.
             */

            $('#dropdown-db-tbl-lbl').html(app.dbSchema[tblIdx].name);
            $('#tbl-db-tbl-body').empty();
            $('#row-ent-db-tbl').show();
            $('#row-ent-db-ctl').show();

            for (let i = 0; i < app.dbSchema[tblIdx].cols.length; i++) {
                let col = app.dbSchema[tblIdx].cols[i];

                let matchAttr = utilDoFuzzyMatch(app.state.simFluAC.rules.analysis.static.attr.used, col.name);
                let matchRel  = utilDoFuzzyMatch(app.state.simFluAC.rules.analysis.static.rel.used,  col.name);

                let badgesAttr = matchAttr .map((i) => uiGenBadgeRule(i.item, i.score.toPrecision(2))).join('');
                let badgesRel  = matchRel  .map((i) => uiGenBadgeRule(i.item, i.score.toPrecision(2))).join('');

                let tr   = $$('tr');
                let td01 = $($$('td', tr)).html(col.name);
                let td02 = $($$('td', tr)).html(col.type.toLowerCase());
                let td03 = $($$('td', tr)).html('<label><input type="checkbox" class="filled-in" ' + (badgesAttr .length > 0 ? 'checked="checked"' : '') + '/><span>' + badgesAttr + '</span></label>');
                let td04 = $($$('td', tr)).html('<label><input type="checkbox" class="filled-in" ' + (badgesRel  .length > 0 ? 'checked="checked"' : '') + '/><span>' + badgesRel  + '</span></label>');

                $('#tbl-db-tbl-body').append(tr);
            }
        }

        function dbColSet(name) {
            $('#dropdown-db-col-lbl').html(name);

            console.log(name);
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SIM: FLU ALLEGHENY ]-----------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function simFluACReset() {
            fetch({{ url_for('sim_flu_ac_reset')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    usrGetSess();
                }
                else M.toast({ html: data.err });
            });
        }

        function simFluACSetPragma(name, value) {
            let fd = new FormData();
            fd.append('name', name);
            fd.append('value', value);

            fetch({{ url_for('sim_flu_ac_set_pragma')|tojson }}, { method: 'POST', cache: 'no-cache', body: fd }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    app.state.simFluAC.sim.pragma[name] = !app.state.simFluAC.sim.pragma[name];
                }
                else M.toast({ html: data.err });
                uiInitSim();
            });
        }

        function simFluACRun() {
            fetch({{ url_for('sim_flu_ac_run')|tojson }}, { method: 'POST', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    $('#btn-sim-flu-ac-stop').css('background', 'linear-gradient(90deg, #ff0000 0%, #ffbdbd 0%)');
                    $('#btn-sim-flu-ac-run').hide();
                    $('#btn-sim-flu-ac-stop').show();

                    window.setTimeout(simFluAStatus, simUpdWait);
                }
                if (data.err)M.toast({ html: data.err });
            });
        }

        function simFluACStatus() {
            fetch({{ url_for('sim_flu_ac_status')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.isRunning) {
                    $('#btn-sim-flu-ac-run').hide();
                    $('#btn-sim-flu-ac-stop').show();

                    let p = Math.round(data.p * 100);
                    $('#btn-sim-flu-ac-stop').css('background', 'linear-gradient(90deg, #ff0000 ' + p + '%, #ffbdbd ' + p + '%)');
                    window.setTimeout(simFluAStatus, simUpdWait);
                }
                else {
                    $('#btn-sim-flu-ac-stop').hide();
                    $('#btn-sim-flu-ac-run').show();
                }
            });
        }

        function simFluACStop() {
            fetch({{ url_for('sim_flu_ac_stop')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                window.setTimeout(simFluAStatus, simUpdWait);
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SIM: FLU ]---------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function simFluReset() {
            fetch({{ url_for('sim_flu_reset')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    $('#sim-flu-out').empty();
                }
            });
        }

        function simFluRun(iterN) {
            let fd = new FormData();
            fd.append('iter-n', iterN);

            fetch({{ url_for('sim_flu_run')|tojson }}, { method: 'POST', cache: 'no-cache', body: fd }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    let div = $($$('div')).html(data.out)
                    $('#sim-flu-out').append(div);
                }
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SIM: TEST ]--------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function simTestRun() {
            fetch({{ url_for('sim_test_run')|tojson }}, { method: 'POST', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.res) {
                    $('#btn-sim-test-stop').css('background', 'linear-gradient(90deg, #ff0000 0%, #ffbdbd 0%)');
                    $('#btn-sim-test-run').hide();
                    $('#btn-sim-test-stop').show();

                    window.setTimeout(simTestStatus, simUpdWait);
                }
                else M.toast({ html: data.err });
            });
        }

        function simTestStatus() {
            fetch({{ url_for('sim_test_status')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                if (data.isRunning) {
                    $('#btn-sim-test-run').hide();
                    $('#btn-sim-test-stop').show();

                    let p = Math.round(data.p * 100);
                    $('#btn-sim-test-stop').css('background', 'linear-gradient(90deg, #ff0000 ' + p + '%, #ffbdbd ' + p + '%)');
                    window.setTimeout(simTestStatus, simUpdWait);
                }
                else {
                    $('#btn-sim-test-stop').hide();
                    $('#btn-sim-test-run').show();
                }
            });
        }

        function simTestStop() {
            fetch({{ url_for('sim_test_stop')|tojson }}, { method: 'GET', cache: 'no-cache' }).
            then(res => res.json()).
            then(data => {
                window.setTimeout(simTestStatus, simUpdWait);
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ UI ]---------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function uiGenBadgeRule(value='', caption='') {
            return '<span class="new badge green left" data-badge-caption="' + caption + '" style="margin-right: 4px;">' + value + '</span>';
        }

        function uiInitEntities() {
            $('#row-ent-stat').html('Agents: <b>' + app.state.simFluAC.pop.agentCnt + '</b><br />Groups: <b>' + app.state.simFluAC.pop.groupCnt + '</b><br />Sites: <b>' + app.state.simFluAC.pop.siteCnt + '</b><br />');
            dbLs();
        }

        function uiInitOutput() {
        }

        function uiInitProbes() {
        }

        function uiInitRules() {
            let badgesAttr = app.state.simFluAC.rules.analysis.static.attr.used.map((i) => uiGenBadgeRule('ATTR: ', i)).join('');
            let badgesRel  = app.state.simFluAC.rules.analysis.static.rel .used.map((i) => uiGenBadgeRule('REL: ', i)).join('');
            $('#row-rul').html('Count: <b>' + app.state.simFluAC.rules.cnt + '</b><br /><br />' + badgesAttr + badgesRel);
        }

        function uiInitRun() {
            /*
            switch (data.sim) {
                case 2:
                    simFluAStatus();
                    break;
                case 'test':
                    simTestStatus();
                    break;
            }
            */
        }

        function uiInitSim() {
            $('#chbox-sim-pragma-live-info')    .prop('checked', app.state.simFluAC.sim.pragma.live_info);
            $('#chbox-sim-pragma-live-info-ts') .prop('checked', app.state.simFluAC.sim.pragma.live_info_ts);
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ APP INIT ]---------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        document.addEventListener('DOMContentLoaded', function () {
            // (1) Attach events:
            $('#btn-usr-toggle')     .click(usrToggle);
            $('#btn-usr-reset-sess') .click(usrResetSess);
            $('#btn-sys-ping')       .click(sysPing);
            $('#btn-sys-load')       .click(() => {
                app.isMonitoringSysLoad = true;
                sysGetLoad();
            });

            /*
            $('#btn-sim-flu-reset')   .click(simFluReset);
            $('#btn-sim-flu-run-1')   .click(() => simFluRun(1));
            $('#btn-sim-flu-run-5')   .click(() => simFluRun(5));
            $('#btn-sim-flu-run-10')  .click(() => simFluRun(10));
            */

            // $('#btn-sim-flu-ac-run')  .click(simFluACRun);
            // $('#btn-sim-flu-ac-stop') .click(simFluACStop);
            $('#btn-sim-test-run')    .click(simTestRun);
            $('#btn-sim-test-stop')   .click(simTestStop);

            $('#btn-sim-reset').click(simFluACReset);

            $('#chbox-sim-pragma-live-info')    .change((e) => simFluACSetPragma('live_info',    $(e.target).is(':checked')));
            $('#chbox-sim-pragma-live-info-ts') .change((e) => simFluACSetPragma('live_info_ts', $(e.target).is(':checked')));

            // (2) Init the UI:
            /*
            $('.icon-sim-sim').each(() => $(this).html(ui.iconSimSim));
            $('.icon-sim-rul').each(() => $(this).html(ui.iconSimRul));
            $('.icon-sim-prb').each(() => $(this).html(ui.iconSimPrb));
            $('.icon-sim-ent').each(() => $(this).html(ui.iconSimEnt));
            $('.icon-sim-run').each(() => $(this).html(ui.iconSimRun));
            $('.icon-sim-out').each(() => $(this).html(ui.iconSimOut));
            */

            // M.AutoInit();
            M.Collapsible          .init($('.collapsible'), { accordion: false, inDuration: 75, outDuration: 75 });
            M.Dropdown             .init($('.dropdown-trigger'), {});
            M.FloatingActionButton .init($('.fixed-action-btn'), {});
            M.FormSelect           .init($('select'), {});
            M.Modal                .init($('#win-sys-load'), { onCloseStart: () => { app.isMonitoringSysLoad = false; } });
            M.Tabs                 .init($('.tabs'), { swipeable: false });
            M.Tooltip              .init($('.tooltipped'), {});

            $('#btn-sim-flu-ac-run').show();
            $('#btn-sim-flu-ac-stop').hide();

            $('#btn-sim-test-run').show();
            $('#btn-sim-test-stop').hide();

            // (3) Sync the UI with the server:
            usrGetSess();
            usrIsRoot();
            sysPing();
        });
    </script>
</head>


<body>
    <!-- Navbar -->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left" style="font-family: 'Exo 2'; font-weight: bold; padding-left: 10px;">PRAM Demo</a>
            <ul class="right">
                <li><a id="btn-usr-toggle" class="waves-effect waves-light btn-small tooltipped" data-tooltip="Access rights level" style="margin-left: 0px;"><i class="material-icons">person_outline</i></a></li>
                <li><a id="btn-sys-ping"   class="waves-effect waves-light btn-small tooltipped" data-tooltip="Ping"                style="margin-left: 0px;">... ms</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#tab-flu-a" class="active">Flu in Allegheny County</a></li>
                <!-- <li class="tab"><a href="#tab-flu">Flu</a></li> -->
                <li class="tab"><a href="#tab-test">Test</a></li>
            </ul>
        </div>
    </nav>

    <!-- Tab: Flu Allegheny Sim -->
    <div id="tab-flu-a" class="col s12">
        <ul class="collapsible">
            <!-- Simulation -->
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-sim"><script>document.write(ui.iconSimSim)</script></i><b>Simulation</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s1"><nobr>Live info</nobr></div>
                        <div class="col s1"><div class="switch"><label>Off<input id="chbox-sim-pragma-live-info" type="checkbox" checked="checked"><span class="lever"></span>On</label></div></div>
                    </div>
                    <div class="row">
                        <div class="col s1"><nobr>Live info timestamp</nobr></div>
                        <div class="col s1"><div class="switch"><label>Off<input id="chbox-sim-pragma-live-info-ts" type="checkbox"><span class="lever"></span>On</label></div></div>
                    </div>
                    <div class="row">
                        <button id="btn-sim-reset" class="btn waves-effect waves-light">Reset<i class="material-icons right">cached</i></button>
                    </div>
                </div>
            </li>

            <!-- Rules -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-rul"><script>document.write(ui.iconSimRul)</script></i><b>Rules</b></div>
                <div class="collapsible-body">
                    <div id="row-rul" class="row">
                    </div>
                </div>
            </li>

            <!-- Probes -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-prb"><script>document.write(ui.iconSimPrb)</script></i><b>Probes</b></div>
                <div class="collapsible-body">
                </div>
            </li>

            <!-- Entities -->
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-ent"><script>document.write(ui.iconSimEnt)</script></i><b>Entities</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12" style="padding: 0px;">
                            <ul class="tabs z-depth-1">
                                <li class="tab col s1"><a href="#tab-ent-stat">Status</a></li>
                                <li class="tab col s1"><a href="#tab-ent-db" class="active">Databases</a></li>
                            </ul>
                        </div>
                        <div id="tab-ent-stat" class="col s12" style="padding-top: 10px;">
                            <div id="row-ent-stat" class="row">
                            </div>
                            <div class="row">
                                <a id="btn-ent-rem" class="waves-effect waves-light btn"><i class="material-icons right">delete</i>Remove All Entities</a>
                            </div>
                        </div>
                        <div id="tab-ent-db" class="col s12" style="padding-top: 10px;">
                            <div class="row">
                                <ul id="dropdown-db"     class="dropdown-content"></ul> <a id="dropdown-db-trigger"     class="btn dropdown-trigger"          href="#" data-target="dropdown-db"    ><span id="dropdown-db-lbl"    >---</span><i class="material-icons right">arrow_drop_down</i></a>
                                <ul id="dropdown-db-tbl" class="dropdown-content"></ul> <a id="dropdown-db-tbl-trigger" class="btn dropdown-trigger disabled" href="#" data-target="dropdown-db-tbl"><span id="dropdown-db-tbl-lbl">---</span><i class="material-icons right">arrow_drop_down</i></a>
                            </div>

                            <div id="row-ent-db-tbl" class="row">
                                <table id="tbl-db-tbl" class="responsive-table z-depth-1">
                                    <thead><tr> <th class="blue-grey lighten-5">Column</th> <th class="blue-grey lighten-5">Type</th> <th class="blue-grey lighten-5">Attributes</th> <th class="blue-grey lighten-5">Relations</th> </tr></thead>
                                    <tbody id="tbl-db-tbl-body"></tbody>
                                </table>
                            </div>

                            <div id="row-ent-db-ctl" class="row">
                                <a id="btn-db-gen" class="waves-effect waves-light btn"><i class="material-icons right">add_circle</i>Generate Entities</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Run -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-run"><script>document.write(ui.iconSimRun)</script></i><b>Run</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <button id="btn-sim-flu-ac-run"  class="btn waves-effect waves-light"     name="action"><span>Run</span> <i class="material-icons right">play_circle_filled</i></button>
                        <button id="btn-sim-flu-ac-stop" class="btn waves-effect waves-light red" name="action"><span>Stop</span><i class="material-icons right">stop</i></button>
                    </div>
                </div>
            </li>

            <!-- Output -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-out"><script>document.write(ui.iconSimOut)</script></i><b>Output</b></div>
                <div class="collapsible-body">
                </div>
            </li>
        </ul>
    </div>

    <!-- Tab: Flu Sim -->
    <!--
    <div id="tab-flu" class="col s12">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-sim"><script>document.write(ui.iconSimSim)</script></i><b>Controls and Output</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <button id="btn-sim-flu-reset"  class="btn waves-effect waves-light tooltipped" data-tooltip="Reset"><i class="material-icons">cached</i></button>
                        <button id="btn-sim-flu-run-1"  class="btn waves-effect waves-light">1<i class="material-icons left">play_circle_filled</i></button>
                        <button id="btn-sim-flu-run-5"  class="btn waves-effect waves-light">5<i class="material-icons left">play_circle_filled</i></button>
                        <button id="btn-sim-flu-run-10" class="btn waves-effect waves-light">10<i class="material-icons left">play_circle_filled</i></button>
                    </div>
                </div>
                <div id="sim-flu-out" class="collapsible-body"></div>
            </li>
        </ul>
    </div>
    -->

    <!-- Tab: Test Sim -->
    <div id="tab-test" class="col s12">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-sim"><script>document.write(ui.iconSimSim)</script></i><b>Controls and Output</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <button id="btn-sim-test-run"  class="btn waves-effect waves-light"     name="action"><span>Run</span> <i class="material-icons right">play_circle_filled</i></button>
                        <button id="btn-sim-test-stop" class="btn waves-effect waves-light red" name="action"><span>Stop</span><i class="material-icons right">stop</i></button>
                    </div>
                </div>
                <div id=""></div>
            </li>
        </ul>
    </div>

    <!-- Floating action button -->
    <div class="fixed-action-btn">
        <a id="btn-sys-load" class="btn-floating btn-large modal-trigger" data-target="win-sys-load">
            <i class="large material-icons">memory</i>
        </a>
    </div>

    <!-- Window: System load -->
    <div id="win-sys-load" class="modal">
        <div class="modal-content">
            <h4>System Load</h4>
            <div class="card" style="_width: 400px; margin-top: 20px;">
                <div class="card-content">
                    &nbsp;
                    <span id="sys-load-avg-t1"  class="new badge blue left" data-badge-caption="| 1m" style="margin-left: 0px; margin-right: 0px;">.</span>
                    <span id="sys-load-avg-t5"  class="new badge blue left" data-badge-caption="| 5m">.</span>
                    <span id="sys-load-avg-t15" class="new badge blue left" data-badge-caption="| 15m">.</span>
                </div>
            </div>
            <table class="responsive-table">
                <thead>
                    <tr> <th>Resource</th> <th>Size</th> <th>Used</th> <th>Free</th> </tr>
                </thead>
                <tbody>
                    <tr> <td><b>CPU</b></td> <td><span id="sys-load-cpu-size">.</span></td> <td><span id="sys-load-cpu-used">.</span></td> <td><span id="sys-load-cpu-free">.</span></td> </tr>
                    <tr> <td><b>RAM</b></td> <td><span id="sys-load-ram-size">.</span></td> <td><span id="sys-load-ram-used">.</span></td> <td><span id="sys-load-ram-free">.</span></td> </tr>
                    <tr> <td><b>HDD</b></td> <td><span id="sys-load-hdd-size">.</span></td> <td><span id="sys-load-hdd-used">.</span></td> <td><span id="sys-load-hdd-free">.</span></td> </tr>
                </tbody>
            </table>
            <br />
            <button id="btn-usr-reset-sess" class="btn waves-effect waves-light">Reset session<i class="material-icons right">cached</i></button>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</body>

</html>

                        <!--
                        <div class="input-field col s3">
                            <select id="select-sim-flu-a-db">
                            </select>
                            <label>Database</label>
                        </div>
                        -->
                        <!-- <ul id="dropdown-db-col" class="dropdown-content"></ul> <a id="dropdown-db-col-trigger" class="btn dropdown-trigger disabled" href="#" data-target="dropdown-db-col"><span id="dropdown-db-col-lbl">---</span><i class="material-icons right">arrow_drop_down</i></a> -->

                    <!--
                    <div class="row">
                        <p class="range-field">
                            <input type="range" id="test5" min="0" max="100" />
                        </p>

                        <label>
                        <input type="checkbox" checked="checked" class="filled-in" />
                        <span>Yellow</span>
                        </label>

                        <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                        </label>
                    </div>
                    -->

                    <!-- <div class="row">
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                    </div> -->

                    <!-- <div class="card" style="width:300px">
                        <div class="card-content">
                            <p>A simulation framework that fuses relational probabilistic models and agent-based models. This software is in the pre-release stage, so feel free to play with it, but keep in mind that not all pieces may be working. Until there is a release, please don't open issues and flex your own Python muscle to fix problems you encounter.</p>
                        </div>
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width">
                                <li class="tab"><a class="active" href="#card-01">Sim 1</a></li>
                                <li class="tab"><a href="#card-02">Sim 2</a></li>
                                <li class="tab"><a href="#card-03">Sim 3</a></li>
                            </ul>
                        </div>
                        <div class="card-content grey lighten-4">
                            <div id="card-01">Output 1</div>
                            <div id="card-02">Output 2</div>
                            <div id="card-03">Output 3</div>
                        </div>
                    </div> -->

                    <!-- <div class="row">
                        <div class="input-field col s6">
                            <label for="sum-a">a</label>
                            <input id="sum-a" type="text" placeholder="10" />
                        </div>
                        <div class="input-field col s6">
                            <label for="sum-b">b</label>
                            <input id="sum-b" type="text" placeholder="20" />
                        </div>
                        <div class="input-field col s6">
                            <a id="sum" class="waves-effect waves-light btn">Sum!</a>
                        </div>
                        <div class="input-field col s6">
                            <span><span id="sum-out">?</span></span>
                        </div>
                    </div> -->

    <!-- Navbar -->
    <!--
    <ul id="dropdown-navbar" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" lass="brand-logo">PRAM</a>
            <ul class="right">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown-navbar">Options<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a id="btn-ping" class="waves-effect waves-light btn">Ping</a></li>
            </ul>
        </div>
    </nav>
    -->


    <!--
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    -->
