<!doctype html>
<html>
<head>
    <!--
    Res
        https://materializecss.com/color.html
        https://materializecss.com/icons.html
    -->

    <title>PRAM Demo</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize-pram.css')}}" media="screen,projection" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/prism.css')}}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
        body  { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
        div,span,td,p,input  { cursor: pointer; }
        #server-load-avg    { font-weight: bold; }
        #btn-sim-flu-reset  { margin-right: 40px; }
        #sim-flu-out        { _overflow-y: scroll; _max-height: 300px; _padding: 4px 8px 4px 8px; font: 1em courier; _border: 1px solid #eee; background: #fafafa; white-space: pre; }
        #sim-flu-out > div  { margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd; }
        #tbl-db-tbl         { border: 1px solid #ccc; }
        #tbl-db-tbl th:nth-child(1)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl th:nth-child(2)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl td:nth-child(1)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl td:nth-child(2)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        #tbl-db-tbl td:nth-child(3)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        _#tbl-db-tbl td:nth-child(4)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        _#tbl-db-tbl td:nth-child(5)  { width: 80px; padding-left: 10px; padding-right: 10px; }
        input[type=checkbox]  { vertical-align: bottom; }
        ode  { font: 0.9em courier monospace; _font-smooth: always; _-webkit-font-smoothing: auto; _-moz-osx-font-smoothing: auto; }
    </style>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/jquery-3.4.0.min.js') }}">\x3C/script>')</script>

    <script type="text/javascript" src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.4/fuse.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/prism.js')}}" data-manual></script>

    <script>
        'use strict';

        const sysGetLoadWait  = 500;  // time between get-system-load requests [ms]
        const simUpdWait      = 100;  // time between simulation-update requests [ms]

        var app = {
            dbSchema: null,
            isMonitoringSysLoad: false,
            isRoot: false,
            rules: null,
            state: {
                client: {
                    db: {
                        name: null,
                        tbl: null,
                        tblIdx: -1,
                        tblAttr: new Map(),
                        tblRel: new Map()
                    },
                    rule: null
                },
                server: null
            }
        };

        var fuseOpts = {  // Fuse.js fuzzy match options; https://fusejs.io/
            shouldSort: true,
            includeScore: true,
            threshold: 0.4,  // 0 = perfect match; 1 = total mismatch
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 2
        };

        var ui = {
            btnUserRootInnerHTML: 'person_add',
            btnUserUserInnerHTML: 'person',

            iconSimRul: 'functions',
            iconSimPop: 'people',
            iconSimPrb: 'timeline',  // show_chart data_usage format_list_bulleted format_list_numbered linear_scale
            iconSimSim: 'tune',
            iconSimRun: 'play_circle_filled',
            iconSimOut: 'equalizer'

            // iconSimSim: 'looks_one',
            // iconSimRul: 'looks_two',
            // iconSimPrb: 'looks_3',
            // iconSimEnt: 'looks_4',
            // iconSimRun: 'looks_5',
            // iconSimOut: 'looks_6'
        };


        // -------------------------------------------------------------------------------------------------------------
        // ----[ UTIL ]-------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        let $$ = (tag, parent) => {
            let el = document.createElement(tag);
            if (parent) parent.appendChild(el);
            return el;
        }

        function do_server(url, method, cb, data=null) {
            if (data != null) data = JSON.stringify(data);
            fetch(url, { method: method, cache: 'no-cache', headers: { 'Content-Type': 'application/json' }, body: data }).
            then(res => res.json()).
            then(data => {
                if (data.res) cb(data);
                else M.toast({ html: data.err });  // classes: 'red darken-1'
            });
        }

        function utilDoFuzzyMatch(lst, qry) {
            /**
             * Return a score between 0 and 1 indicating a match between the two strings passed. While Fuse.js is used to
             * compute the score, the score itself is reversed, i.e., 0 means complete mismatch while 1 means a perfect
             * match.
             */

            let res = (new Fuse(lst, fuseOpts)).search(qry);
            if (res.length == 0) return [];
            return res.map((i) => { return { item: lst[i.item], score: 1 - i.score }});
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SYS ]--------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function sysGetLoad() {
            do_server({{ url_for('sys_get_load')|tojson }}, 'GET', (data) => {
                $('#sys-load-cpu-size').text(data.size.cpu);
                $('#sys-load-ram-size').text(data.size.ram);
                $('#sys-load-hdd-size').text(data.size.hdd);
                $('#sys-load-cpu-used').text(data.used.cpu);
                $('#sys-load-ram-used').text(data.used.ram);
                $('#sys-load-hdd-used').text(data.used.hdd);
                $('#sys-load-cpu-free').text(data.free.cpu);
                $('#sys-load-ram-free').text(data.free.ram);
                $('#sys-load-hdd-free').text(data.free.hdd);

                $('#sys-load-avg-t1') .text(data.avg.t1);
                $('#sys-load-avg-t5') .text(data.avg.t5);
                $('#sys-load-avg-t15').text(data.avg.t15);

                if (app.isMonitoringSysLoad) {
                    window.setTimeout(sysGetLoad, sysGetLoadWait);
                }
            });
        }

        function sysPing() {
            let t0 = new Date().getTime()
            fetch({{ url_for('sys_ping')|tojson }}, { method: 'HEAD', cache: 'no-cache' }).
            then(res => $('#btn-sys-ping').html(res.ok ? (new Date().getTime() - t0) + ' ms' : 'Error')).
            catch(err => {
                console.log('Fetch error: ', err.message);
                M.toast({ html: err.message });
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ USER ]-------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function usrGetSess() {
            do_server({{ url_for('usr_get_sess')|tojson }}, 'GET', (data) => {
               app.state.server = data.state;

               uiInitRules();
               uiInitPop();
               uiInitProbes();
               uiInitSim();
               uiInitOutput();
            });
        }

        function usrResetSess() {
            do_server({{ url_for('usr_reset_sess')|tojson }}, 'GET', (data) => {
                usrIsRoot();
                M.toast({ html: 'User session has been cleared' });
                usrGetSess();
            });
        }

        function usrIsRoot() {
            do_server({{ url_for('usr_is_root')|tojson }}, 'GET', (data) => {
                app.isRoot = data.isRoot;
                $('#btn-usr-toggle').children(0).text(app.isRoot ? ui.btnUserRootInnerHTML : ui.btnUserUserInnerHTML);
            });
        }

        function usrToggle() {
            do_server({{ url_for('usr_toggle')|tojson }}, 'POST', (data) => {
                app.isRoot = data.isRoot;
                $('#btn-usr-toggle').children(0).text(app.isRoot ? ui.btnUserRootInnerHTML : ui.btnUserUserInnerHTML);
            }, { code: prompt('Code:') });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ DB ]---------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function dbLs() {
            do_server({{ url_for('db_ls')|tojson }}, 'GET', (data) => {
                app.state.client.db.tblIdx = -1;

                $('#dropdown-db').empty();
                $('#dropdown-db-tbl').empty();
                $('#tbl-db-tbl-body').empty();
                $('#row-pop-db-tbl').hide();
                $('#row-pop-db-ctl').hide();

                data.dbs.forEach(i => {
                    let li = $$('li');
                    let a  = $($$('a', li)).html(i);
                    a.attr('href', '#').click(() => dbSet(i));
                    $('#dropdown-db').append(li);
                });

                M.Dropdown.init($('#dropdown-db-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
                $('#dropdown-db-tbl-trigger').addClass('disabled');
                $('#dropdown-db-col-trigger').addClass('disabled');
                $('#dropdown-db-lbl').html('---');
            });
        }

        function dbSet(name) {
            let fd = new FormData();
            fd.append('name', name);

            do_server({{ url_for('db_get_schema')|tojson }}, 'POST', (data) => {
                app.state.client.db.name = name;
                app.state.client.db.tblIdx = -1;

                $('#dropdown-db-tbl').empty();
                $('#dropdown-db-tbl-trigger').removeClass('disabled');
                $('#dropdown-db-col-trigger').addClass('disabled');
                $('#dropdown-db-tbl-lbl').html('---');
                $('#tbl-db-tbl-body').empty();
                $('#row-pop-db-tbl').hide();
                $('#row-pop-db-ctl').hide();
                $('#dropdown-db-lbl').html(name);
                $('#btn-db-tbl-ncol').html('');
                $('#btn-db-tbl-nrow').html('');

                app.dbSchema = data.schema;
                for (let i = 0; i < app.dbSchema.length; i++) {
                    let tbl = app.dbSchema[i];
                    let li = $$('li');
                    let a  = $($$('a', li)).html(`${tbl.name}<span class="badge">${tbl.cols.length}</span>`);
                    a.attr('href', '#').click(() => dbTblSet(i));
                    $('#dropdown-db-tbl').append(li);
                }

                M.Dropdown.init($('#dropdown-db-tbl-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
            }, { name: name });
        }

        function dbTblSet(tblIdx) {
            app.state.client.db.tblIdx = tblIdx;
            app.state.client.db.tbl = app.dbSchema[tblIdx];
            app.state.client.db.tblAttr.clear();
            app.state.client.db.tblRel.clear();

            let tbl = app.state.client.db.tbl;  // shorthand

            $('#dropdown-db-tbl-lbl').html(tbl.name);
            $('#tbl-db-tbl-body').empty();
            $('#row-pop-db-tbl').show();
            $('#row-pop-db-ctl').show();
            $('#btn-db-tbl-ncol').html(`Col: <b>${tbl.cols.length}</b>`);
            $('#btn-db-tbl-nrow').html(`Row: <b>${tbl.rowCnt}</b>`);

            for (let i = 0; i < tbl.cols.length; i++) {
                let col = tbl.cols[i];

                let matchAttr = utilDoFuzzyMatch(app.state.server.simFluAC.rules.analysis.static.attr.used, col.name);
                let matchRel  = utilDoFuzzyMatch(app.state.server.simFluAC.rules.analysis.static.rel.used,  col.name);

                let badgesAttr = matchAttr .map((i) => uiGenBadgeRule(i.item, i.score.toPrecision(2))).join('');
                let badgesRel  = matchRel  .map((i) => uiGenBadgeRule(i.item, i.score.toPrecision(2))).join('');

                // if (matchAttr .length > 0) app.state.client.db.tblAttr[col.name] = true;
                // if (matchRel  .length > 0) app.state.client.db.tblRel [col.name] = true;

                let tr   = $('<tr>').appendTo($('#tbl-db-tbl-body'));
                let td01 = $('<td>').appendTo(tr).html(col.name);                // name
                let td02 = $('<td>').appendTo(tr).html(col.type.toLowerCase());  // type
                let td03 = $('<td>').appendTo(tr).html(col.valCnt);              // distinct value count
                let td04 = $('<td>').appendTo(tr);                               // attribute
                let td05 = $('<td>').appendTo(tr);                               // relation
                let td06 = $('<td>').appendTo(tr);                               // relation name

                let chBox04lbl = $('<label>').appendTo(td04);
                let chBox05lbl = $('<label>').appendTo(td05);
                let chBox04 = $('<input />').attr({ type: 'checkbox' }).prop('checked', badgesAttr .length > 0).addClass('filled-in').appendTo(chBox04lbl);
                let chBox05 = $('<input />').attr({ type: 'checkbox' }).prop('checked', badgesRel  .length > 0).addClass('filled-in').appendTo(chBox05lbl);
                $('<span>').html(badgesAttr) .appendTo(chBox04lbl);
                $('<span>').html(badgesRel)  .appendTo(chBox05lbl);

                let txtBox06 = $('<input />').attr({ type: 'text' }).prop('value', (matchRel.length > 0 ? matchRel[0].item : '')).addClass('browser-default').appendTo(td06).css({ display: (badgesRel.length > 0 ? 'block' : 'none')});

                chBox04.change((e) => dbTblChBoxChangeAttr($(e.target), col.name));
                chBox05.change((e) => dbTblChBoxChangeRel ($(e.target), col.name, txtBox06));

                if (matchAttr .length > 0) app.state.client.db.tblAttr .set(col.name, col.name);
                if (matchRel  .length > 0) app.state.client.db.tblRel  .set(col.name, { txtBox: txtBox06, col: col.name });

                dbTblSetGenBtn();
            }
        }

        function dbTblChBoxChangeAttr(el, colName) {
            if (el.is(':checked')) {
                app.state.client.db.tblAttr.set(colName, colName);
            }
            else {
                app.state.client.db.tblAttr.delete(colName);
            }
            dbTblSetGenBtn();
        }

        function dbTblChBoxChangeRel(el, colName, txtBox) {
            if (el.is(':checked')) {
                txtBox.show();
                app.state.client.db.tblRel.set(colName, { txtBox: txtBox, col: colName });
            }
            else {
                txtBox.hide();
                app.state.client.db.tblRel.delete(colName);
            }
            dbTblSetGenBtn();
        }

        function dbTblSetGenBtn() {
            if (app.state.client.db.tblAttr.size > 0 || app.state.client.db.tblRel.size > 0) {
                $('#btn-db-gen').removeClass('disabled');
            }
            else {
                $('#btn-db-gen').addClass('disabled');
            }
        }

        function dbTblGen() {
            // let rel_db = [];
            // app.state.client.db.tblRel.forEach((v,k,m) => {
            //     console.log(v.txtBox.val());
            //     rel_db.push({ name: v.txtBox.val(), col: v.col });
            // });
            // rel_db = [...app.state.client.db.tblRel.values()].map((i) => { return { name: i.txtBox.val(), col: i.col }; });

            let isRelOk = [...app.state.client.db.tblRel.values()].map((i) => i.txtBox.val().length).reduce((acc,i) => acc && (i > 0), true);
            if (!isRelOk) {
                return M.toast({ html: 'At least one relation name is empty' });
            }

            let data = {
                'db'      : app.state.client.db.name,
                'tbl'     : app.state.client.db.tbl.name,
                'attr_db' : [...app.state.client.db.tblAttr.values()],
                // 'rel_db'  : [...app.state.client.db.tblRel.values()]
                'rel_db'  : [...app.state.client.db.tblRel.values()].map((i) => { return { name: i.txtBox.val(), col: i.col }; })
            };

            do_server({{ url_for('pop_db_gen')|tojson }}, 'POST', (data) => {
                app.state.server.simFluAC.pop = data.pop;
                uiInitSim();
                M.toast({ html: 'Population has been generated', classes: 'amber accent-3' });
            }, data);
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ RULES ]------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function ruleAdd() {
            do_server({{ url_for('sim_flu_ac_add_rule')|tojson }}, 'POST', (data) => {
                app.state.server.simFluAC.rules = data.rules;
                uiInitSim();
                M.toast({ html: 'Rule has been added', classes: 'amber accent-3' });

                if (app.state.client.db.tblIdx >= 0) {
                    dbTblSet(app.state.client.db.tblIdx);
                }
            }, { cls: app.state.client.rule.cls });
        }

        function ruleLs() {
            do_server({{ url_for('rules_ls')|tojson }}, 'GET', (data) => {
                $('#dropdown-rule-ls').empty();

                app.rules = data.rules;
                for (let i = 0; i < app.rules.length; i++) {
                    let rule = app.rules[i];
                    let li = $$('li');
                    let a  = $($$('a', li)).html(`${rule.name}<span class="badge">${rule.srcLines.length}</span>`);
                    a.attr('href', '#').click(() => ruleSet(i));
                    $('#dropdown-rule-ls').append(li);
                }

                M.Dropdown.init($('#dropdown-rule-ls-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
                $('#row-rul-docstr').hide();
                $('#row-rul-src').hide();
                $('#btn-rul-add').addClass('disabled');
            });
        }

        function ruleSet(ruleIdx) {
            let rule = app.rules[ruleIdx];
            app.state.client.rule = rule;

            $('#dropdown-rule-ls-lbl').html(rule.name);
            $('#row-rul-docstr-card').html(rule.docstr.join('<br />'));
            $('#row-rul-src').html(`<pre class="line-numbers"><code>${rule.srcLines.join('')}</code></pre>`);
            $('#dropdown-rule-trigger').removeClass('disabled');
            $('#btn-rul-add').removeClass('disabled');
            $('#btn-rule-nlines').html(`${rule.srcLines.length} lines`);

            Prism.highlightElement($('#row-rul-src').children(0).children(0)[0]);
        }

        function ruleSetInf(section, name) {
            $('#dropdown-rule-lbl').html(name);

            $('#row-rul-docstr')    .hide();
            $('#row-rul-src')       .hide();
            $('#row-rul-' + section).show();
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SIM: FLU ALLEGHENY COUNTY ]----------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function simFluACReset() {
            do_server({{ url_for('sim_flu_ac_reset')|tojson }}, 'GET', (data) => {
                app.state.server.simFluAC = data.state;
                uiInitSim();
                M.toast({ html: 'Simulation has been reset', classes: 'teal accent-4' });

                if (app.state.client.db.tblIdx >= 0) {
                    dbTblSet(app.state.client.db.tblIdx);
                }
            });
        }

        function simFluACResetPop() {
            do_server({{ url_for('sim_flu_ac_reset_pop')|tojson }}, 'GET', (data) => {
                app.state.server.simFluAC = data.state;
                uiInitSim();
                M.toast({ html: 'Population has been reset', classes: 'teal accent-4' });
            });
        }

        function simFluACResetProbes() {
            do_server({{ url_for('sim_flu_ac_reset_probes')|tojson }}, 'GET', (data) => {
                app.state.server.simFluAC = data.state;
                uiInitSim();
                M.toast({ html: 'Probes have been reset', classes: 'teal accent-4' });
            });
        }

        function simFluACResetRules() {
            do_server({{ url_for('sim_flu_ac_reset_rules')|tojson }}, 'GET', (data) => {
                app.state.server.simFluAC = data.state;
                uiInitSim();
                M.toast({ html: 'Rules have been reset', classes: 'teal accent-4' });

                if (app.state.client.db.tblIdx >= 0) {
                    dbTblSet(app.state.client.db.tblIdx);
                }
            });
        }

        function simFluACSetPragma(name, value) {
            do_server({{ url_for('sim_flu_ac_set_pragma')|tojson }}, 'POST', (data) => {
                app.state.server.simFluAC.sim.pragma[name] = !app.state.server.simFluAC.sim.pragma[name];
                uiInitSim();
            }, { name: name, value: value });
        }

        function simFluACRun() {
            do_server({{ url_for('sim_flu_ac_run')|tojson }}, 'POST', (data) => {
                $('#btn-sim-flu-ac-stop').css('background', 'linear-gradient(90deg, #ff0000 0%, #ffbdbd 0%)');
                $('#btn-sim-flu-ac-run').hide();
                $('#btn-sim-flu-ac-stop').show();

                window.setTimeout(simFluAStatus, simUpdWait);
            });
        }

        function simFluACStatus() {
            do_server({{ url_for('sim_flu_ac_status')|tojson }}, 'GET', (data) => {
                if (data.isRunning) {
                    $('#btn-sim-flu-ac-run').hide();
                    $('#btn-sim-flu-ac-stop').show();

                    let p = Math.round(data.p * 100);
                    $('#btn-sim-flu-ac-stop').css('background', 'linear-gradient(90deg, #ff0000 ' + p + '%, #ffbdbd ' + p + '%)');
                    window.setTimeout(simFluAStatus, simUpdWait);
                }
                else {
                    $('#btn-sim-flu-ac-stop').hide();
                    $('#btn-sim-flu-ac-run').show();
                }
            });
        }

        function simFluACStop() {
            do_server({{ url_for('sim_flu_ac_stop')|tojson }}, 'GET', (data) => {
                window.setTimeout(simFluAStatus, simUpdWait);
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SIM: FLU ]---------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function simFluReset() {
            do_server({{ url_for('sim_flu_reset')|tojson }}, 'GET', (data) => {
                $('#sim-flu-out').empty();
            });
        }

        function simFluRun(iterN) {
            let fd = new FormData();
            fd.append('iter-n', iterN);

            do_server({{ url_for('sim_flu_run')|tojson }}, 'GET', (data) => {
                let div = $($$('div')).html(data.out)
                $('#sim-flu-out').append(div);
            }, fd);
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ SIM: TEST ]--------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function simTestRun() {
            do_server({{ url_for('sim_test_run')|tojson }}, 'GET', (data) => {
                $('#btn-sim-test-stop').css('background', 'linear-gradient(90deg, #ff0000 0%, #ffbdbd 0%)');
                $('#btn-sim-test-run').hide();
                $('#btn-sim-test-stop').show();

                window.setTimeout(simTestStatus, simUpdWait);
            });
        }

        function simTestStatus() {
            do_server({{ url_for('sim_test_status')|tojson }}, 'GET', (data) => {
                if (data.isRunning) {
                    $('#btn-sim-test-run').hide();
                    $('#btn-sim-test-stop').show();

                    let p = Math.round(data.p * 100);
                    $('#btn-sim-test-stop').css('background', 'linear-gradient(90deg, #ff0000 ' + p + '%, #ffbdbd ' + p + '%)');
                    window.setTimeout(simTestStatus, simUpdWait);
                }
                else {
                    $('#btn-sim-test-stop').hide();
                    $('#btn-sim-test-run').show();
                }
            });
        }

        function simTestStop() {
            do_server({{ url_for('sim_test_stop')|tojson }}, 'GET', (data) => {
                window.setTimeout(simTestStatus, simUpdWait);
            });
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ UI ]---------------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        function uiGenBadgeRule(value='', caption='') {
            return `<span class="new badge deep-purple lighten-2 left" data-badge-caption="${caption}" style="margin-right: 4px; padding-left: 10px; padding-right: 10px; font-weight: bold;">${value}</span>`;
        }

        function uiInitOutput() {
        }

        function uiInitPop() {
            dbLs();
        }

        function uiInitProbes() {
        }

        function uiInitRules() {
            ruleLs();
        }

        function uiInitSim() {
            // (1) Pragmas:
            $('#chbox-sim-pragma-autocompact')  .prop('checked', app.state.server.simFluAC.sim.pragma.autocompact);
            $('#chbox-sim-pragma-autostop')     .prop('checked', app.state.server.simFluAC.sim.pragma.autostop);
            $('#chbox-sim-pragma-live-info')    .prop('checked', app.state.server.simFluAC.sim.pragma.live_info);
            $('#chbox-sim-pragma-live-info-ts') .prop('checked', app.state.server.simFluAC.sim.pragma.live_info_ts);

            // (2) Rules:
            if (app.state.server.simFluAC.rules.ls.length == 0) {
                $('#row-sim-rules-inf').html('No rules');
            }
            else {
                let ruleLst = '<ul><li><b>' + app.state.server.simFluAC.rules.ls.map((i) => i.name).join('</b></li><li><b>') + '</b></li></ul>';
                let badgesAttr = app.state.server.simFluAC.rules.analysis.static.attr.used.map((i) => uiGenBadgeRule('ATTR: ', i)).join('');
                let badgesRel  = app.state.server.simFluAC.rules.analysis.static.rel .used.map((i) => uiGenBadgeRule('REL: ', i)).join('');

                $('#row-sim-rules-inf').html(ruleLst + '<br />' + badgesAttr + badgesRel);
            }

            // (3) Population:
            if (app.state.server.simFluAC.pop.agentCnt == 0 && app.state.server.simFluAC.pop.groupCnt == 0 && app.state.server.simFluAC.pop.siteCnt == 0) {
                $('#row-sim-pop-inf').html('No population');
            }
            else {
                $('#row-sim-pop-inf').html(`Agents: <b>${app.state.server.simFluAC.pop.agentCnt}</b><br />Groups: <b>${app.state.server.simFluAC.pop.groupCnt}</b><br />Sites: <b>${app.state.server.simFluAC.pop.siteCnt}</b><br />`);
            }

            // (4) Probes:
            if (app.state.server.simFluAC.probes.ls.length == 0) {
                $('#row-sim-probes-inf').html('No probes');
            }
            else {
            }

            // (5) control:
        }


        // -------------------------------------------------------------------------------------------------------------
        // ----[ APP INIT ]---------------------------------------------------------------------------------------------
        // -------------------------------------------------------------------------------------------------------------

        document.addEventListener('DOMContentLoaded', function () {
            // (1) Attach events:
            // (1.1) Main:
            $('#btn-usr-toggle')     .click(usrToggle);
            $('#btn-usr-reset-sess') .click(usrResetSess);
            $('#btn-sys-ping')       .click(sysPing);
            $('#btn-sys-load')       .click(() => {
                app.isMonitoringSysLoad = true;
                sysGetLoad();
            });

            // (1.2) Rules section:
            $('#dropdown-rule-trigger-null')   .click(() => ruleSetInf('null', 'No info'));
            $('#dropdown-rule-trigger-docstr') .click(() => ruleSetInf('docstr', 'Docstring'));
            $('#dropdown-rule-trigger-src')    .click(() => ruleSetInf('src', 'Source code'));
            $('#btn-rul-add')                  .click(ruleAdd);

            // (1.3) Population section:
            $('#btn-db-gen').click(dbTblGen);

            // (1.4) Probes section:

            // (1.5) Simulation section:
            // $('#btn-sim-flu-ac-run')  .click(simFluACRun);
            // $('#btn-sim-flu-ac-stop') .click(simFluACStop);

            $('#btn-sim-reset').click(simFluACReset);

            $('#btn-sim-rules-reset')  .click(simFluACResetRules);
            $('#btn-sim-pop-reset')    .click(simFluACResetPop);
            $('#btn-sim-probes-reset') .click(simFluACResetProbes);

            $('#chbox-sim-pragma-autostop')     .change((e) => simFluACSetPragma('autostop',     $(e.target).is(':checked')));
            $('#chbox-sim-pragma-autocompact')  .change((e) => simFluACSetPragma('autocompact',  $(e.target).is(':checked')));
            $('#chbox-sim-pragma-live-info')    .change((e) => simFluACSetPragma('live_info',    $(e.target).is(':checked')));
            $('#chbox-sim-pragma-live-info-ts') .change((e) => simFluACSetPragma('live_info_ts', $(e.target).is(':checked')));

            // (1.6) Output section:

            // (1.7) Misc:
            // $('#btn-sim-flu-reset')   .click(simFluReset);
            // $('#btn-sim-flu-run-1')   .click(() => simFluRun(1));
            // $('#btn-sim-flu-run-5')   .click(() => simFluRun(5));
            // $('#btn-sim-flu-run-10')  .click(() => simFluRun(10));

            $('#btn-sim-test-run')    .click(simTestRun);
            $('#btn-sim-test-stop')   .click(simTestStop);

            // (2) Init Materialize:
            // M.AutoInit();
            M.Collapsible          .init($('.collapsible'), { accordion: false, inDuration: 75, outDuration: 75 });
            // M.Dropdown             .init($('.dropdown-trigger'), {});
            M.Dropdown             .init($('.dropdown-trigger'), { constrainWidth: false, coverTrigger: false, inDuration: 150, outDuration: 250, hover: true });
            M.FloatingActionButton .init($('.fixed-action-btn'), {});
            M.FormSelect           .init($('select'), {});
            M.Modal                .init($('#win-sys-load'), { onCloseStart: () => { app.isMonitoringSysLoad = false; } });
            M.Tabs                 .init($('.tabs'), { swipeable: false });
            M.Tooltip              .init($('.tooltipped'), {});

            // (3) Show and hide elements:
            // (3.1) Main:

            // (3.2) Rules section:
            $('#row-rul-docstr') .hide();
            $('#row-rul-src')    .hide();

            // (3.3) Population section:
            $('#row-pop-db-tbl').hide();

            // (3.4) Probes section:

            // (3.5) Simulation section:
            $('#btn-sim-flu-ac-run')  .show();
            $('#btn-sim-flu-ac-stop') .hide();

            // (3.6) Output section:

            // (3.7) Misc:
            $('#btn-sim-test-run')  .show();
            $('#btn-sim-test-stop') .hide();

            // (4) Sync the UI with the server:
            usrGetSess();
            usrIsRoot();
            sysPing();
        });
    </script>
</head>


<body>
    <!-- Navbar -->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left" style="font-family: 'Exo 2'; font-weight: bold; padding-left: 10px;">PRAM Demo</a>
            <ul class="right">
                <li><a id="btn-usr-toggle" class="waves-effect waves-light btn-small tooltipped" data-tooltip="Access rights level" style="margin-left: 0px;"><i class="material-icons">person_outline</i></a></li>
                <li><a id="btn-sys-ping"   class="waves-effect waves-light btn-small tooltipped" data-tooltip="Ping"                style="margin-left: 0px;">... ms</a></li>
            </ul>
        </div>

        <!--
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#tab-flu-a" class="active">Flu in Allegheny County</a></li>
                <li class="tab"><a href="#tab-test">Test</a></li>
            </ul>
        </div>
        -->
    </nav>

    <!-- Tab: Flu Allegheny Sim -->
    <!-- <div id="tab-flu-a" class="col s12"> -->
        <ul class="collapsible">
            <!-- Rules -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-rul"><script>document.write(ui.iconSimRul)</script></i><b>Rules</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <ul id="dropdown-rule-ls" class="dropdown-content"></ul>
                            <a id="dropdown-rule-ls-trigger" class="btn dropdown-trigger" href="#" data-target="dropdown-rule-ls"><span id="dropdown-rule-ls-lbl">---</span><i class="material-icons right">arrow_drop_down</i></a>

                            <ul id="dropdown-rule" class="dropdown-content">
                                <li><a id="dropdown-rule-trigger-null"   href="#" class="selected">No info</a></li>
                                <li><a id="dropdown-rule-trigger-docstr" href="#">Docstring</a></li>
                                <li><a id="dropdown-rule-trigger-src"    href="#">Source code</a></li>
                            </ul>
                            <a id="dropdown-rule-trigger" class="btn dropdown-trigger disabled" href="#" data-target="dropdown-rule"><span id="dropdown-rule-lbl">No info</span><i class="material-icons right">arrow_drop_down</i></a>

                            <a id="btn-rule-nlines" class="waves-effect waves-light btn disabled tooltipped" data-tooltip="Lines of code" style="margin-left: 20px;"></a>
                            <a id="btn-rul-add" class="waves-effect waves-light btn amber accent-3 disabled" style="margin-left: 40px;"><i class="material-icons right">add_circle</i>Add this rule</a>
                        </div>
                    </div>

                    <div id="row-rul-docstr" class="row">
                        <div class="card">
                            <div id="row-rul-docstr-card" class="card-content"></div>
                        </div>
                    </div>

                    <div id="row-rul-src" class="row lang-python"></div>
                </div>
            </li>

            <!-- Population -->
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-pop"><script>document.write(ui.iconSimPop)</script></i><b>Population</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <ul id="dropdown-db"          class="dropdown-content"></ul> <a id="dropdown-db-trigger"          class="btn dropdown-trigger"          href="#" data-target="dropdown-db"         ><span id="dropdown-db-lbl"         >---   </span><i class="material-icons right">arrow_drop_down</i></a>
                            <ul id="dropdown-db-tbl"      class="dropdown-content"></ul> <a id="dropdown-db-tbl-trigger"      class="btn dropdown-trigger disabled" href="#" data-target="dropdown-db-tbl"     ><span id="dropdown-db-tbl-lbl"     >---   </span><i class="material-icons right">arrow_drop_down</i></a>
                            <ul id="dropdown-db-tbl-mode" class="dropdown-content"></ul> <a id="dropdown-db-tbl-mode-trigger" class="btn dropdown-trigger disabled" href="#" data-target="dropdown-db-tbl-mode"><span id="dropdown-db-tbl-mode-lbl">Schema</span><i class="material-icons right">arrow_drop_down</i></a>

                            <a id="btn-db-tbl-ncol" class="waves-effect waves-light btn disabled tooltipped" data-tooltip="Columns" style="margin-left: 20px;"></a>
                            <a id="btn-db-tbl-nrow" class="waves-effect waves-light btn disabled tooltipped" data-tooltip="Rows"></a>

                            <a id="btn-db-gen" class="waves-effect waves-light btn amber accent-3 disabled" style="margin-left: 40px;"><i class="material-icons right">add_circle</i>Generate population from this table</a>
                        </div>
                    </div>

                    <div id="row-pop-db-tbl" class="row">
                        <div class="col s8">
                            <table id="tbl-db-tbl" class="responsive-table z-depth-1">
                                <thead><tr> <th class="blue-grey lighten-5">Column</th> <th class="blue-grey lighten-5">Type</th> <th class="blue-grey lighten-5">Values</th> <th class="blue-grey lighten-5">Attribute</th> <th class="blue-grey lighten-5">Relation</th> <th class="blue-grey lighten-5">Relation name</th> </tr></thead>
                                <tbody id="tbl-db-tbl-body"></tbody>
                            </table>
                        </div>
                    </div>

                    <!--
                    <div id="row-pop-db-tbl-cont" class="row">
                        <table id="tbl-db-tbl-cont" class="responsive-table z-depth-1">
                            <thead><tr> <th class="blue-grey lighten-5">Column</th> <th class="blue-grey lighten-5">Type</th> <th class="blue-grey lighten-5">Attributes</th> <th class="blue-grey lighten-5">Relations</th> </tr></thead>
                            <tbody id="tbl-db-tbl-cont-body"></tbody>
                        </table>
                    </div>
                    -->

                    <div id="row-pop-db-ctl" class="row">
                    </div>
                </div>
            </li>

            <!-- Probes -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-prb"><script>document.write(ui.iconSimPrb)</script></i><b>Probes</b></div>
                <div class="collapsible-body">
                </div>
            </li>

            <!-- Simulation -->
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-sim"><script>document.write(ui.iconSimSim)</script></i><b>Simulation</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12" style="padding: 0px;">
                            <ul class="tabs z-depth-1">
                                <li class="tab col s1"><a href="#tab-sim-ctl">Control</a></li>
                                <li class="tab col s1"><a href="#tab-sim-rules">Rules</a></li>
                                <li class="tab col s1"><a href="#tab-sim-pop">Population</a></li>
                                <li class="tab col s1"><a href="#tab-sim-probes">Probes</a></li>
                                <li class="tab col s1"><a href="#tab-sim-pragma">Settings</a></li>
                            </ul>
                        </div>

                        <!-- Tab: Control -->
                        <div id="tab-sim-ctl" class="col s12" style="padding-top: 10px;">
                            <div class="row">
                                <button id="btn-sim-flu-ac-run"  class="btn waves-effect waves-light amber accent-3"><span>Run</span> <i class="material-icons right">play_circle_filled</i></button>
                                <button id="btn-sim-flu-ac-stop" class="btn waves-effect waves-light red"><span>Stop</span><i class="material-icons right">stop</i></button>
                                <button id="btn-sim-reset"       class="btn waves-effect waves-light teal accent-4" style="margin-left: 40px;">Reset the simulation<i class="material-icons right">cached</i></button>
                            </div>
                        </div>

                        <!-- Tab: Rules -->
                        <div id="tab-sim-rules" class="col s12" style="padding-top: 10px;">
                            <div id="row-sim-rules-inf" class="row">
                            </div>
                            <div class="row">
                                <a id="btn-sim-rules-reset" class="waves-effect waves-light btn teal accent-4"><i class="material-icons right">delete</i>Reset the rules</a>
                            </div>
                        </div>

                        <!-- Tab: Population -->
                        <div id="tab-sim-pop" class="col s12" style="padding-top: 10px;">
                            <div id="row-sim-pop-inf" class="row">
                            </div>
                            <div class="row">
                                <a id="btn-sim-pop-reset" class="waves-effect waves-light btn teal accent-4"><i class="material-icons right">delete</i>Reset the population</a>
                            </div>
                        </div>

                        <!-- Tab: Probes -->
                        <div id="tab-sim-probes" class="col s12" style="padding-top: 10px;">
                            <div id="row-sim-probes-inf" class="row">
                            </div>
                            <div class="row">
                                <a id="btn-sim-probes-reset" class="waves-effect waves-light btn teal accent-4"><i class="material-icons right">delete</i>Reset the probes</a>
                            </div>
                        </div>

                        <!-- Tab: Settings -->
                        <div id="tab-sim-pragma" class="col s12" style="padding-top: 10px;">
                            <div class="row">
                                <div class="col s1"><nobr>Autocompact</nobr></div>
                                <div class="col s1"><div class="switch"><label>Off<input id="chbox-sim-pragma-autocompact" type="checkbox" checked="checked"><span class="lever"></span>On</label></div></div>
                            </div>
                            <div class="row">
                                <div class="col s1"><nobr>Autostop</nobr></div>
                                <div class="col s1"><div class="switch"><label>Off<input id="chbox-sim-pragma-autostop" type="checkbox" checked="checked"><span class="lever"></span>On</label></div></div>
                            </div>
                            <div class="row">
                                <div class="col s1"><nobr>Live info</nobr></div>
                                <div class="col s1"><div class="switch"><label>Off<input id="chbox-sim-pragma-live-info" type="checkbox" checked="checked"><span class="lever"></span>On</label></div></div>
                            </div>
                            <div class="row">
                                <div class="col s1"><nobr>Live info timestamp</nobr></div>
                                <div class="col s1"><div class="switch"><label>Off<input id="chbox-sim-pragma-live-info-ts" type="checkbox"><span class="lever"></span>On</label></div></div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>

            <!-- Output -->
            <li class="_active">
                <div class="collapsible-header"><i class="material-icons icon-sim-out"><script>document.write(ui.iconSimOut)</script></i><b>Output</b></div>
                <div class="collapsible-body">
                </div>
            </li>
        </ul>
    <!-- </div> -->

    <!-- Tab: Flu Sim -->
    <!--
    <div id="tab-flu" class="col s12">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-sim"><script>document.write(ui.iconSimSim)</script></i><b>Controls and Output</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <button id="btn-sim-flu-reset"  class="btn waves-effect waves-light tooltipped" data-tooltip="Reset"><i class="material-icons">cached</i></button>
                        <button id="btn-sim-flu-run-1"  class="btn waves-effect waves-light">1<i class="material-icons left">play_circle_filled</i></button>
                        <button id="btn-sim-flu-run-5"  class="btn waves-effect waves-light">5<i class="material-icons left">play_circle_filled</i></button>
                        <button id="btn-sim-flu-run-10" class="btn waves-effect waves-light">10<i class="material-icons left">play_circle_filled</i></button>
                    </div>
                </div>
                <div id="sim-flu-out" class="collapsible-body"></div>
            </li>
        </ul>
    </div>
    -->

    <!-- Tab: Test Sim -->
    <!--
    <div id="tab-test" class="col s12">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons icon-sim-sim"><script>document.write(ui.iconSimSim)</script></i><b>Controls and Output</b></div>
                <div class="collapsible-body">
                    <div class="row">
                        <button id="btn-sim-test-run"  class="btn waves-effect waves-light"     name="action"><span>Run</span> <i class="material-icons right">play_circle_filled</i></button>
                        <button id="btn-sim-test-stop" class="btn waves-effect waves-light red" name="action"><span>Stop</span><i class="material-icons right">stop</i></button>
                    </div>
                </div>
                <div id=""></div>
            </li>
        </ul>
    </div>
    -->
    <!-- Floating action button -->
    <div class="fixed-action-btn">
        <a id="btn-sys-load" class="btn-floating btn-large modal-trigger" data-target="win-sys-load">
            <i class="large material-icons">memory</i>
        </a>
    </div>

    <!-- Window: System load -->
    <div id="win-sys-load" class="modal">
        <div class="modal-content">
            <h4>System Load</h4>
            <div class="card" style="_width: 400px; margin-top: 20px;">
                <div class="card-content">
                    &nbsp;
                    <span id="sys-load-avg-t1"  class="new badge blue left" data-badge-caption="| 1m" style="margin-left: 0px; margin-right: 0px;">.</span>
                    <span id="sys-load-avg-t5"  class="new badge blue left" data-badge-caption="| 5m">.</span>
                    <span id="sys-load-avg-t15" class="new badge blue left" data-badge-caption="| 15m">.</span>
                </div>
            </div>
            <table class="responsive-table">
                <thead>
                    <tr> <th>Resource</th> <th>Size</th> <th>Used</th> <th>Free</th> </tr>
                </thead>
                <tbody>
                    <tr> <td><b>CPU</b></td> <td><span id="sys-load-cpu-size">.</span></td> <td><span id="sys-load-cpu-used">.</span></td> <td><span id="sys-load-cpu-free">.</span></td> </tr>
                    <tr> <td><b>RAM</b></td> <td><span id="sys-load-ram-size">.</span></td> <td><span id="sys-load-ram-used">.</span></td> <td><span id="sys-load-ram-free">.</span></td> </tr>
                    <tr> <td><b>HDD</b></td> <td><span id="sys-load-hdd-size">.</span></td> <td><span id="sys-load-hdd-used">.</span></td> <td><span id="sys-load-hdd-free">.</span></td> </tr>
                </tbody>
            </table>
            <br />
            <button id="btn-usr-reset-sess" class="btn waves-effect waves-light">Reset session<i class="material-icons right">cached</i></button>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</body>

</html>
